@model IEnumerable<MS.Models.User>
@{
    ViewData["Title"] = "User Management";
}
<h1>User Management</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New User</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.Role</td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table> 